<suite name = "ALKU Metrics Pipeline">
    <test name = "Metrics Pipeline automated tests">
        <classes>
            <class name = "AMContactDBAsTestCases"/>
            <class name = "AMContactReqTestCases"/>
            <class name = "ClientSubmissionTestCases"/>
            <class name = "DealsTestCases"/>
            <class name = "FinishesTestCases"/>
            <class name = "InHousesTestCases"/>
            <class name = "JobsTestCases"/>
            <class name = "JobSubmissionTestCases"/>
            <class name = "LeadTestCases"/>
            <class name = "RecruiterCandidateDBAsTestCases"/>
            <class name = "SendoutsTestCases"/>
            <class name = "StartsTestCases"/>
            <class name = "VisitsTestCases"/>
            <class name = "YellowZoneTestCases"/>
            <class name = "PipelineTestCases"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="helpers.ZipTestOutputListener"/>
    </listeners>
</suite>